Howework 1 - Justin Talbot

Q1

In [1]:
#pandas version
import pandas as pd
pd.__version__

'1.3.4'

Q2

In [4]:
import wget
wget.download('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

'housing.csv'

In [13]:
df = pd.read_csv('housing.csv')

In [14]:
df.shape[0]

20640

Q3

In [16]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Q4

In [23]:
df.nunique()['ocean_proximity']

5

Q5

In [47]:
df[
    df['ocean_proximity'] == 'NEAR BAY'
].describe().round(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,2290.00,2290.00,2290.00,2290.00,2270.00,2290.00,2290.00,2290.00,2290.00
mean,-122.26,37.80,37.73,2493.59,514.18,1230.32,488.62,4.17,259212.31
std,0.15,0.19,13.07,1830.82,367.89,885.90,350.60,2.02,122818.54
min,-122.59,37.35,2.00,8.00,1.00,8.00,1.00,0.50,22500.00
25%,-122.41,37.73,29.00,1431.25,289.00,718.25,275.00,2.83,162500.00
50%,-122.25,37.79,39.00,2083.00,423.00,1033.50,406.00,3.82,233800.00
75%,-122.14,37.91,52.00,3029.75,628.75,1495.00,599.25,5.05,345700.00
max,-122.01,38.34,52.00,18634.00,3226.00,8276.00,3589.00,15.00,500001.00

Q6

In [126]:
df.describe().round(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.00,20640.00,20640.00,20640.00,20433.00,20640.00,20640.00,20640.00,20640.00
mean,-119.57,35.63,28.64,2635.76,537.87,1425.48,499.54,3.87,206855.82
std,2.00,2.14,12.59,2181.62,421.39,1132.46,382.33,1.90,115395.62
min,-124.35,32.54,1.00,2.00,1.00,3.00,1.00,0.50,14999.00
25%,-121.80,33.93,18.00,1447.75,296.00,787.00,280.00,2.56,119600.00
50%,-118.49,34.26,29.00,2127.00,435.00,1166.00,409.00,3.53,179700.00
75%,-118.01,37.71,37.00,3148.00,647.00,1725.00,605.00,4.74,264725.00
max,-114.31,41.95,52.00,39320.00,6445.00,35682.00,6082.00,15.00,500001.00

In [51]:
avg_bedrooms = 537.87
df_clean = df.fillna(avg_bedrooms)
df_clean.describe().round(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.00,20640.00,20640.00,20640.00,20640.00,20640.00,20640.00,20640.00,20640.00
mean,-119.57,35.63,28.64,2635.76,537.87,1425.48,499.54,3.87,206855.82
std,2.00,2.14,12.59,2181.62,419.27,1132.46,382.33,1.90,115395.62
min,-124.35,32.54,1.00,2.00,1.00,3.00,1.00,0.50,14999.00
25%,-121.80,33.93,18.00,1447.75,297.00,787.00,280.00,2.56,119600.00
50%,-118.49,34.26,29.00,2127.00,438.00,1166.00,409.00,3.53,179700.00
75%,-118.01,37.71,37.00,3148.00,643.25,1725.00,605.00,4.74,264725.00
max,-114.31,41.95,52.00,39320.00,6445.00,35682.00,6082.00,15.00,500001.00

Q7

In [127]:
df_islands = df[
    df['ocean_proximity'] == "ISLAND"
]

In [128]:
X = df_islands[['housing_median_age', 'total_rooms', 'total_bedrooms']].to_numpy()

In [134]:
XT = X.T
XTX = X.dot(XT)

In [135]:
import numpy as np
XTX_inv = np.linalg.inv(XTX)

In [136]:
y = np.array([950, 1300, 800, 1000, 1300])

In [137]:

w = XT.dot(XTX_inv).dot(y)

In [139]:
w[-1]

3.29132080078125